ODOO_URL=https://agromaquinas.teste.tauga.online
ODOO_DB=teste_agromaquinas
ODOO_USERNAME=teste
ODOO_PASSWORD=your_password_here
MAIN_MODEL=pedido.documento
ITEM_MODEL=sped.documento.item
OUTPUT_DIR=outputs
